<template>
  <v-container grid-list-md class="pa-0">
    <v-layout>
      <v-flex xs6>
        <v-card hover to="/account/profile/data" class="fill-height">
          <v-card-title>
            <v-icon left>{{ mdiTextSubject }}</v-icon>
            <span class="title font-weight-light">Profil Daten</span>
          </v-card-title>
          <v-card-text>
            Gebe hier Daten über dich und deinen Hof an. z.B.: Name,
            Beschreibung
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs6>
        <v-card hover to="/account/profile/images" class="fill-height">
          <v-card-title>
            <v-icon left>{{ mdiImageMultiple }}</v-icon>
            <span class="title font-weight-light">Bilder</span>
          </v-card-title>
          <v-card-text>
            Verwalte hier deine Bilder.
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { mdiImageMultiple, mdiTextSubject } from '@mdi/js'

export default {
  data: () => ({ mdiImageMultiple, mdiTextSubject }),
}
</script>
