<template>
  <v-stepper v-model="step" class="fill-height">
    <v-stepper-header>
      <v-stepper-step :complete="step > 1" step="1">Standort</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="step > 2" step="2">Daten</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">Bilder</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <div class="pa-1">
          <Alert />
          <Location
            :location="location"
            :address="address"
            @location="location = $event"
            @next="step++"
          />
        </div>
      </v-stepper-content>

      <v-stepper-content step="2">
        <div class="pa-1">
          <Alert />

          <Name v-model="data.name" />
          <Description v-model="data.description" />
          <Products v-model="data.products" />
          <v-layout justify-end mb-3>
            <v-btn color="primary" :disabled="!dataValid" @click="createUser">
              Weiter
            </v-btn>
          </v-layout>
        </div>
      </v-stepper-content>

      <v-stepper-content step="3">Done</v-stepper-content>
    </v-stepper-items>
    <Loader v-if="loading" />
  </v-stepper>
</template>

<script>
import Location from '@/components/profile/Location'

import Name from '@/components/profile/Name.vue'
import Description from '@/components/profile/Description.vue'
import Products from '@/components/profile/Products.vue'
import Loader from '@/components/base/Loader.vue'
import Alert from '@/components/profile/Alert.vue'

export default {
  components: {
    Location,
    Name,
    Description,
    Products,
    Loader,
    Alert,
  },
  data: () => ({
    open: true,
    loading: false,
    step: 1,
    location: null,
    address: { street: '', place: '' },
    data: {
      name: '',
      description: '',
      products: [],
    },
  }),
  computed: {
    dataValid() {
      return (
        this.data.name.length > 0 &&
        this.data.description.length > 0 &&
        this.data.products.length > 0
      )
    },
  },
  methods: {
    async createUser() {
      this.loading = true

      try {
        const {
          data: { products, ...info },
          address,
          location,
        } = this
        await this.$axios.post('/admin/create', {
          ...info,
          location,
          address,
          products: products.map(({ _id }) => _id),
        })

        this.loading = false
        this.step++
      } catch (e) {
        this.$store.commit('notification/error')
      }
    },
  },
  beforeRouteLeave(to, from, next) {
    if (this.step !== 3) {
      this.$store.commit(
        'notification/error',
        'Schließe erst die Registrierung ab'
      )
      next(false)
    } else {
      next()
    }
  },
}
</script>
<style lang="scss" scoped>
.v-stepper {
  display: grid;
  grid-template-rows: 1fr auto;
  .v-stepper__header {
    z-index: 3;
  }
  .v-stepper__items {
    z-index: 1;
    overflow: auto;
  }
}
</style>
