<template>
  <div>
    <Alert />
    <v-card class="pa-4">
      <nuxt-child />
    </v-card>
  </div>
</template>
<script>
import Alert from '@/components/profile/Alert.vue'
export default {
  components: {
    Alert,
  },
  data: () => ({}),
}
</script>
