<template>
  <div>
    <h2>Beschreibung</h2>
    <p>Gebe hier eine kurze Beschreibung über dich und deinen Hof an.</p>
    <v-textarea
      :value="value"
      label="Beschreibung"
      auto-grow
      solo
      @input="$emit('input', $event)"
    />
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      required: true,
    },
  },
}
</script>
