<template>
  <div>
    <h2>Standort angeben</h2>
    <p>
      Gebe bitte den Ort deines Hofes/Ladens an, damit du über die Karte
      gefunden werden kannst. Klicke dafür in die Karte.
    </p>
    <v-layout wrap>
      <v-flex
        xs12
        md6
        :pr-2="$vuetify.breakpoint.mdAndUp"
        :mb-4="!$vuetify.breakpoint.mdAndUp"
      >
        <v-card>
          <Map @map-click="setLocation">
            <l-marker
              v-if="location"
              :lat-lng="location"
              draggable
              @update:latLng="setLocation"
            />
          </Map>
        </v-card>
      </v-flex>
      <v-flex xs12 md6 :pl-2="$vuetify.breakpoint.mdAndUp">
        <v-text-field
          v-model="address.street"
          label="Straße, Hausnummer"
          solo
          @input="$emit('address', { ...address, street: $event })"
        />
        <v-text-field
          v-model="address.place"
          label="PLZ, Ort"
          solo
          @input="$emit('address', { ...address, place: $event })"
        />
      </v-flex>
    </v-layout>
    <v-layout justify-space-between align-center mb-3>
      <span>
        <template v-if="isValid !== true">{{ isValid }}</template>
      </span>
      <v-btn color="primary" :disabled="isValid !== true" @click="$emit('next')"
        >Weiter</v-btn
      >
    </v-layout>
  </div>
</template>
<script>
import Map from '@/components/map/Map'

export default {
  components: { Map },

  props: {
    location: {
      type: Object,
      required: false,
      default: null,
    },
    address: {
      type: Object,
      required: true,
    },
  },

  computed: {
    isValid() {
      if (!this.location) {
        return 'Bitte gebe den Ort deines Hofes an. Klicke dafür in die Karte'
      } else if (!this.address.street.length || !this.address.place.length) {
        return 'Bitte gebe noch deine vollständige Adresse ein'
      } else {
        return true
      }
    },
  },
  methods: {
    setLocation(location) {
      if (location !== this.location) {
        this.$emit('location', location)
      }
    },
  },
}
</script>
