<template>
  <div>
    <h2>Name</h2>
    <p>Gebe hier den Namen deines Hofes an.</p>
    <v-text-field
      :value="value"
      label="Name"
      solo
      @input="$emit('input', $event)"
    />
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      required: true,
    },
  },
}
</script>
