<template>
  <div>
    <h2>Produkte</h2>
    <p>Gebe hier deine Produkte ein, die du herstellst.</p>
    <v-autocomplete
      :value="value"
      :items="items"
      :loading="loading"
      :search-input.sync="search"
      :hide-no-data="loading || !search"
      item-text="name"
      label="Produkte"
      auto-select-first
      return-object
      append-icon
      hide-selected
      chips
      deletable-chips
      cache-items
      multiple
      solo
      @input="update($event)"
      @keyup.enter.prevent="addProduct"
    >
      <template v-slot:no-data>
        <v-list-item>
          <v-layout justify-space-between align-center>
            Die Produktkategorie gibt es noch nicht.
            <v-btn
              color="primary"
              :loading="addLoading"
              :disabled="addLoading"
              @click="addProduct"
              >Hinzufügen</v-btn
            >
          </v-layout>
        </v-list-item>
      </template>
    </v-autocomplete>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      loading: false,
      addLoading: false,
      items: this.value,
      search: null,
      select: this.value,
    }
  },
  watch: {
    search(val) {
      val && val !== this.value && this.querySelections(val)
    },
  },
  methods: {
    async querySelections(v) {
      this.loading = true

      const { data } = await this.$axios.get(
        '/admin/categories/' + encodeURI(this.search)
      )
      this.items = data

      this.loading = false
    },
    async addProduct() {
      if (
        this.search &&
        !this.items.find(({ name }) => name.includes(this.search))
      ) {
        try {
          const name = this.search
          this.addLoading = true

          const { data } = await this.$axios.post('/admin/category', { name })

          this.addLoading = false
          this.items.push(data)
          this.update([...this.value, data])
        } catch (e) {
          this.$store.commit('notification/error')
        }
      }
    },
    update(data) {
      this.$emit('input', data)
      this.search = null
    },
  },
}
</script>
