<template>
  <Content :title="title" :text="text" :created="created" />
</template>
<script>
import Content from '@/components/base/Content'

export default {
  components: { Content },
  async asyncData({ $axios, params: { key } }) {
    const { data } = await $axios.get('/content/' + key)
    return data
  },
}
</script>
