<template>
  <v-card>
    <div class="content d-flex">
      <div v-if="!!images.length && showSlider" class="inset-shadow">
        <v-carousel cycle hide-delimiter-background show-arrows-on-hover>
          <v-carousel-item
            v-for="image in images"
            :key="image"
            :src="`http://res.cloudinary.com/dwc138nji/image/upload/f_auto,q_auto,c_scale,w_590/v1/producers/${uri}/${image}`"
          ></v-carousel-item>
        </v-carousel>
      </div>
      <div>
        <v-list-item>
          <v-list-item-icon>
            <v-btn icon @click="() => $router.back()">
              <v-icon>{{ mdiArrowLeft }}</v-icon>
            </v-btn>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="headline">{{ name }}</v-list-item-title>
            <v-list-item-subtitle
              >Mitglied seit {{ created }}</v-list-item-subtitle
            >
          </v-list-item-content>
        </v-list-item>
        <v-card-text class="pt-0">
          <v-divider />
          <div class="mt-2">
            <v-chip
              v-for="product in products"
              :key="product"
              :to="'/karte/' + encodeURI(product)"
              class="mb-2 mr-2"
            >
              {{ product }}
            </v-chip>
          </div>
          {{ description }}
        </v-card-text>
      </div>
    </div>
  </v-card>
</template>

<script>
import { mdiArrowLeft } from '@mdi/js'

export default {
  components: {},
  async asyncData({ params: { uri }, $axios, redirect }) {
    try {
      const {
        data: { name, description, images = [], created, products },
      } = await $axios.get('/producer/' + uri)
      return { name, description, images, created, uri, products }
    } catch (e) {
      redirect('/error')
    }
  },
  data: () => ({ mdiArrowLeft, isMounted: false }),
  computed: {
    showSlider() {
      return !this.isMounted || this.$vuetify.breakpoint.mdAndUp
    },
  },
  mounted() {
    this.isMounted = true
  },
}
</script>
<style lang="scss" scoped>
.content > div {
  flex: 1 1 50%;
  width: 50%;
  &:only-child {
    flex: 1 1 100%;
    width: 100%;
  }
}

.inset-shadow {
  position: relative;
  &::after {
    content: '';
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.3);
    @media (max-width: 960px) {
      box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.3);
    }
    position: absolute;
    z-index: 1;
  }
}
</style>
