<template>
  <v-dialog v-model="dialog" max-width="600">
    <v-card>
      <v-card-title class="headline">Seite Verlassen?</v-card-title>
      <v-card-text>{{ text }}</v-card-text>
      <v-card-actions>
        <v-btn text @click="$router.push(routerPath)"
          >Weiter ohne zu speichern</v-btn
        >
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="dialog = false">Abbrechen</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    changes: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
      default: 'Du hast deine Änderungen nicht gespeichert..',
    },
  },
  data: () => ({
    dialog: false,
    routerPath: null,
  }),
  created() {
    this.$router.beforeEach((to, from, next) => {
      if (this.changes && !this.dialog) {
        this.routerPath = to
        this.dialog = true
        next(false)
      } else {
        next()
      }
    })
  },
}
</script>
