<template>
  <v-card class="full-height">
    <div>
      <v-card-title class="mb-1 pt-2">
        <h1 class="headline pt-2">
          {{ title }}
        </h1>
        <v-spacer />
        <span class="caption grey--text align-self-start">{{ created }}</span>
      </v-card-title>
      <v-divider />
    </div>
    <!-- eslint-disable vue/no-v-html -->
    <v-card-text v-html="html" />
  </v-card>
</template>
<script>
import * as Md from 'markdown-it'
const markdown = new Md({
  html: true,
  linkify: true,
  typographer: true,
})
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    created: {
      type: String,
      default: null,
    },
  },
  computed: {
    html() {
      return markdown.render(this.text)
    },
  },
}
</script>
<style lang="scss" scoped>
.v-card {
  display: grid;
  grid-template-rows: auto 1fr;
  > .v-card__text {
    overflow: auto;
  }
}
</style>
