<template>
  <v-btn
    :icon="$vuetify.breakpoint.smAndDown"
    text
    class="white--text"
    :to="to"
    @click="$emit('click')"
  >
    <v-icon :left="$vuetify.breakpoint.mdAndUp">{{ icon }} </v-icon>
    {{ $vuetify.breakpoint.mdAndUp ? text : '' }}
  </v-btn>
</template>

<script>
export default {
  props: {
    to: { type: String, required: false, default: undefined },
    text: { type: String, default: '' },
    icon: { type: String, default: '' },
  },
}
</script>
