<template>
  <v-dialog :value="true" hide-overlay persistent width="300">
    <v-card dark>
      <v-card-text>
        {{ text }}
        <v-progress-linear
          indeterminate
          color="white"
          class="mb-0"
        ></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Deine Änderungen werden gespeichert',
    },
  },
}
</script>
