<template>
  <form @submit.prevent="submit(search ? encodedSearch : '')">
    <v-autocomplete
      :value="value"
      :items="items"
      :loading="loading"
      :search-input.sync="search"
      label="Produkte suchen"
      auto-select-first
      :append-icon="mdiMagnify"
      clearable
      full-width
      hide-selected
      hide-details
      hide-no-data
      cache-items
      no-data-text=""
      :menu-props="{
        transition: 'slide-y-transition',
      }"
      solo
      @click:append="submit(search ? encodedSearch : '')"
      @input="update($event)"
    />
  </form>
</template>
<script>
import { mdiMagnify } from '@mdi/js'
export default {
  props: {
    value: {
      type: String,
      required: false,
      default: '',
    },
  },
  data() {
    return {
      loading: false,
      items: this.value ? [this.value] : [],
      search: null,
      mdiMagnify,
    }
  },
  computed: {
    encodedSearch() {
      return encodeURI(this.search)
    },
  },
  watch: {
    search(val) {
      val && val !== this.value && this.querySelections(val)
    },
  },
  methods: {
    async querySelections(v) {
      this.loading = true
      const { data } = await this.$axios.get(
        '/categories/' + this.encodedSearch
      )
      this.items = data
      this.loading = false
    },
    update(name = '') {
      this.submit(encodeURI(name))
    },
    submit(uri = null) {
      this.$router.push({
        path: '/karte/' + uri,
        query: this.$route.query,
      })
    },
  },
}
</script>
<style lang="scss">
.v-autocomplete {
  position: relative;
}
.v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: none !important;
}
</style>
