<template>
  <v-snackbar v-model="show">
    {{ message }}
    <v-icon v-if="type === 'error'" right color="error">{{
      icons.mdiAlertCircle
    }}</v-icon>
    <v-icon v-if="type === 'success'" right color="primary">{{
      icons.mdiCheckCircle
    }}</v-icon>
  </v-snackbar>
</template>
<script>
import { mapState } from 'vuex'
import { mdiAlertCircle, mdiCheckCircle } from '@mdi/js'

export default {
  data: () => ({
    show: false,
    icons: {
      mdiAlertCircle,
      mdiCheckCircle,
    },
  }),
  computed: mapState('notification', ['type', 'message']),
  mounted() {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type.startsWith('notification/')) {
        this.show = true
      }
    })
  },
}
</script>
