<template>
  <v-form>
    <Name v-model="data.name" />
    <Description v-model="data.description" />
    <Products v-model="data.products" />
    <div class="text-right">
      <v-btn color="primary" :disabled="!hasChanges" @click="submit"
        >speichern</v-btn
      >
    </div>
    <Loader v-if="loading" />
    <AuthGuard :changes="hasChanges" />
  </v-form>
</template>
<script>
import Name from '@/components/profile/Name.vue'
import Description from '@/components/profile/Description.vue'
import Products from '@/components/profile/Products.vue'
import Loader from '@/components/base/Loader.vue'
import AuthGuard from '@/components/base/AuthGuard.vue'

const parseData = ({ products, ...data }) => ({
  ...data,
  products: products.map(({ _id }) => _id),
})

export default {
  components: {
    Name,
    Description,
    Products,
    Loader,
    AuthGuard,
  },
  async asyncData({ $axios }) {
    const { data } = await $axios.get('/admin/data')

    return {
      data,
      originalData: JSON.stringify(parseData(data)),
    }
  },
  data: () => ({
    loading: false,
    dialog: false,
    routerPath: null, // redirect after ignore changes
  }),
  computed: {
    hasChanges() {
      return JSON.stringify(this.parsedData) !== this.originalData
    },
    parsedData() {
      return parseData(this.data)
    },
  },
  methods: {
    async submit() {
      this.loading = true

      try {
        await this.$axios.put('/admin/data', this.parsedData)

        this.originalData = JSON.stringify(this.parsedData)

        this.$store.commit(
          'notification/success',
          'Daten erfolgreich gespeichert'
        )
        this.$router.push('/account')
      } catch (e) {
        this.$store.commit('notification/error')
      }
      this.loading = false
    },
  },
}
</script>
