<template>
  <v-form>
    <div v-if="!!images.length">
      <h3>Avatar</h3>
      <div
        v-for="{ url, id } in images"
        :key="id"
        :class="'mr-2 avatar ' + (id === avatar ? 'selected' : '')"
        @click="() => setAvatar(id)"
      >
        <v-avatar>
          <v-img :width="48" :height="48" :src="url"></v-img>
        </v-avatar>
      </div>
    </div>
    <v-row class="d-flex space-bettween flex-wrap pa-1">
      <div v-for="({ url, id }, index) in images" :key="id" class="pa-2 image">
        <v-hover v-slot:default="{ hover }">
          <div>
            <v-fade-transition>
              <div v-show="hover" class="layer pa-2">
                <div>
                  <v-btn
                    :disabled="index === 0"
                    text
                    icon
                    dark
                    small
                    @click="() => sortImage(index, true)"
                  >
                    <v-icon>{{ icons.mdiArrowLeft }}</v-icon>
                  </v-btn>
                  <v-btn
                    text
                    icon
                    dark
                    :disabled="index === images.length - 1"
                    small
                    @click="() => sortImage(index, false)"
                  >
                    <v-icon>{{ icons.mdiArrowRight }}</v-icon>
                  </v-btn>
                </div>
                <v-btn text icon dark small @click="() => deleteImg(id)">
                  <v-icon>{{ icons.mdiDelete }}</v-icon>
                </v-btn>
              </div>
            </v-fade-transition>
            <v-img :width="size" :height="size" :src="url"></v-img>
          </div>
        </v-hover>
      </div>
      <div v-if="images.length < 10" class="pa-2">
        <croppa
          v-model="croppa"
          :width="size"
          placeholder="Bild hochladen"
          :height="size"
          :placeholder-font-size="16"
          :file-size-limit="1024 * 1024"
          initial-size="cover"
          prevent-white-space
        ></croppa>
        <div v-if="!!croppa.imageSet" class="text-right">
          <v-btn color="primary" :loading="loading" @click="submit">
            hochladen
            <v-icon right dark>{{ icons.mdiCloudUpload }}</v-icon>
          </v-btn>
        </div>
      </div>
    </v-row>
    <Loader v-if="loading" text="Das Bild wird hochgeladen" />
    <AuthGuard :changes="!!croppa.imageSet" />
  </v-form>
</template>
<script>
import { mdiArrowRight, mdiArrowLeft, mdiDelete, mdiCloudUpload } from '@mdi/js'
import Croppa from 'vue-croppa'
import Loader from '@/components/base/Loader.vue'
import AuthGuard from '@/components/base/AuthGuard.vue'
import 'vue-croppa/dist/vue-croppa.css'

const getImages = async (axios) => {
  const {
    data: { images = [], avatar },
  } = await axios.get('/admin/images')

  return { images, avatar }
}

export default {
  components: {
    Loader,
    AuthGuard,
    Croppa: Croppa.component,
  },
  async asyncData({ $axios }) {
    const result = await getImages($axios)
    return result
  },
  data: () => ({
    croppa: {},
    loading: false,
    icons: { mdiArrowRight, mdiArrowLeft, mdiDelete, mdiCloudUpload },
  }),
  computed: {
    size() {
      return this.$vuetify.breakpoint.xsOnly ? 140 : 240
    },
  },
  methods: {
    async refresh() {
      const { images, avatar } = await getImages(this.$axios)
      this.images = images
      this.avatar = avatar
    },
    async submit() {
      this.loading = true

      try {
        const { data } = await this.$axios.post('/admin/upload', {
          image: this.croppa.generateDataUrl('image/jpeg'),
        })

        this.images.push(data)

        this.croppa.remove()

        this.refresh()

        this.$store.commit(
          'notification/success',
          'Bild erfolgreich hochgeladen'
        )
      } catch (e) {
        this.$store.commit('notification/error')
      }
      this.loading = false
    },
    async deleteImg(id) {
      try {
        await this.$axios.delete('/admin/images/' + id)
        this.images = this.images.filter((img) => id !== img.id)
        this.$store.commit('notification/success', 'Bild gelöscht')
        this.refresh()
      } catch (e) {
        this.$store.commit('notification/error')
      }
    },
    async setAvatar(id) {
      try {
        await this.$axios.put('/admin/avatar/' + id)
        this.avatar = id
        this.$store.commit('notification/success', 'Avatar geändert')
      } catch (e) {
        this.$store.commit('notification/error')
      }
    },
    async sortImage(index, forward) {
      try {
        if (forward) {
          this.images.splice(
            index - 1,
            2,
            this.images[index],
            this.images[index - 1]
          )
        } else {
          this.images.splice(
            index,
            2,
            this.images[index + 1],
            this.images[index]
          )
        }
        await this.$axios.put('/admin/images', {
          images: this.images.map(({ id }) => id),
        })
        this.$store.commit('notification/success', 'Änderung gespeicher')
      } catch (e) {
        this.$store.commit('notification/error')
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.image > div {
  position: relative;
  .layer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
    &,
    .v-btn {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
.avatar {
  cursor: pointer;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 50%;
  &:hover {
    border-color: #e6e6e6;
  }
  &.selected {
    border-color: #8bc34a;
  }
}
</style>
