<template>
  <v-app>
    <div class="background primary" />
    <v-fade-transition>
      <div v-show="isIndex" class="indexBackground">
        <div
          :style="`background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url('https://res.cloudinary.com/dwc138nji/image/upload/f_auto,q_auto,c_fit,w_${width},h_${height}/v1567955963/background.jpg');`"
        />
      </div>
    </v-fade-transition>
    <v-app-bar app fixed color="transparent" elevation="0">
      <v-fade-transition>
        <n-link v-show="!isIndex" class="white--text" to="/">
          <v-toolbar-title v-text="title" />
        </n-link>
      </v-fade-transition>
      <v-spacer />
      <IconBtn to="/karte" :icon="icons.mdiMap" text="Karte" />
      <IconBtn
        v-if="$auth.loggedIn"
        to="/account"
        :icon="icons.mdiAccountCircle"
        text="Account"
      />
      <IconBtn
        v-else
        :icon="icons.mdiAccountCircle"
        to="/login"
        text="Anmelden"
      />
    </v-app-bar>
    <v-content>
      <v-container fluid fill-height pa-0 justify-center>
        <nuxt />
      </v-container>
      <Snackbar />
    </v-content>
    <v-footer :dark="isIndex" app padless color="transparent">
      <v-toolbar flat color="transparent">
        <v-btn text to="/seite/ueber-uns">Über uns</v-btn>
        <v-btn text to="/seite/faq">Informationen / FAQ</v-btn>
        <v-spacer />
        <v-btn text to="/seite/impressum">Datenschutz / Impressum</v-btn>
      </v-toolbar>
    </v-footer>
  </v-app>
</template>

<script>
import {
  mdiMap,
  mdiAccountCircle,
  mdiViewDashboard,
  mdiTextSubject,
  mdiImageMultiple,
  mdiLogout,
} from '@mdi/js'
import IconBtn from '@/components/base/IconBtn'
import Snackbar from '@/components/base/Snackbar'

export default {
  components: {
    IconBtn,
    Snackbar,
  },
  data() {
    return {
      drawer: null,
      title: 'VomLando',
      width: typeof window !== 'undefined' ? window.innerWidth : 375,
      height: typeof window !== 'undefined' ? window.innerHeight : 667,
      icons: {
        mdiViewDashboard,
        mdiMap,
        mdiAccountCircle,
        mdiTextSubject,
        mdiImageMultiple,
        mdiLogout,
      },
    }
  },
  computed: {
    isAdmin() {
      return this.$route.path.startsWith('/account')
    },
    isIndex() {
      return this.$route.path === '/'
    },
  },
}
</script>
<style lang="scss" scoped>
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
}
.indexBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}
.v-toolbar__content a {
  text-decoration: none;
}
.v-footer {
  opacity: 0.7;
}
.container {
  .full-width,
  > .v-card {
    max-width: 1180px;
    width: 80%;
    @media (max-width: 960px) {
      height: auto;
      max-height: none;
      width: 90%;
    }
  }
  > .v-card {
    @extend .full-width;
    max-width: 1180px;
    width: 80%;
    overflow: hidden;
    max-height: 80vh;
    &.full-height {
      height: 80vh;
    }
  }
}
/* Content doesn't regognize footer on ssr */
.v-content[style*='padding-bottom:0'] {
  padding-bottom: 64px !important;
}
</style>
