<template>
  <v-card class="d-flex justify-center align-center" min-height="40%">
    <div class="text-center pa-2">
      <p class="display-3">ಠ_ಠ</p>
      <p v-if="error.statusCode === 404" class="display-1">
        Nothing to see here - move on
      </p>
      <p v-else class="display-1">Upps, an error occurred</p>
      <p class="headline grey--text">- {{ error.statusCode }} -</p>
    </div>
  </v-card>
</template>
<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  head() {
    const title =
      this.error.statusCode === 404 ? '404 Not Found' : 'An error occurred'
    return {
      title,
    }
  },
}
</script>
