<template>
  <v-layout fill-height>
    <client-only>
      <l-map
        ref="map"
        :max-bounds="maxBounds"
        style="min-height: 400px;"
        @update:bounds="$emit('update:bounds', $event)"
        @click="mapClick"
      >
        <l-tile-layer :url="url" :attribution="attribution" />
        <slot />
      </l-map>
    </client-only>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

const bounds = [
  [47.270111, 5.866315],
  [55.099159, 15.041932],
]
export default {
  props: {
    bounds: {
      type: Array,
      default: () => bounds,
    },
  },
  data() {
    return {
      maxBounds: bounds,
      url: 'https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    }
  },
  computed: mapGetters('geolocation', ['location']),
  mounted() {
    this.$nextTick(() => {
      const map = this.$refs.map.mapObject

      if (this.location && !this.bounds) {
        const { latitude, longitude } = this.location
        map.fitBounds(this.$L.latLng(latitude, longitude).toBounds(50000))
      } else {
        map.fitBounds(
          this.bounds && this.$L.latLngBounds(bounds).contains(this.bounds)
            ? this.bounds
            : bounds
        )
      }

      map.setMinZoom(map.getBoundsZoom(bounds))
    })
  },
  methods: {
    mapClick(event) {
      this.$emit('map-click', event.latlng)
    },
  },
  head() {
    return {
      title: 'Karte',
    }
  },
}
</script>
<style lang="scss" scoped>
.layout {
  z-index: 1;
  position: relative;
}
</style>
