<template>
  <v-card class="d-flex justify-center align-center" min-height="40%">
    <div class="text-center pa-2">
      <p class="display-3">ಠ_ಠ</p>
      <p class="display-1">Nothing to see here - move on</p>
      <p class="headline grey--text">- 404 -</p>
    </div>
  </v-card>
</template>
