<template>
  <client-only>
    <div class="full-width">
      <nuxt-child />
    </div>
  </client-only>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {}
  },
  async created() {
    const {
      data: { isProducer },
    } = await this.$axios.get('/admin/')
    if (!isProducer) {
      // await auth.currentUser.sendEmailVerification()
      this.$store.commit(
        'notification/success',
        'Bitte verifiziere deine E-Mail Adresse'
      )
      this.$router.push('/account/intro')
    }
  },
  methods: {
    signOut() {
      this.$auth.logout()
    },
  },
}
</script>
