<template>
  <div class="pa-4 index">
    <h1 class="display-2 mb-2 font-weight-thin">VomLando</h1>

    <Searchbar />

    <v-layout class="mt-2">
      <v-spacer />
      <v-btn
        icon
        class="mr-1"
        href="https://www.facebook.com/vomlando.de/"
        target="_blank"
        title="Facebook"
        rel="noreferrer"
      >
        <v-icon>{{ mdiFacebook }}</v-icon>
      </v-btn>
      <v-btn
        icon
        class="mr-1"
        href="https://www.instagram.com/vomlando.de/"
        title="Instagramm"
        target="_blank"
        rel="noreferrer"
      >
        <v-icon>{{ mdiInstagram }}</v-icon>
      </v-btn>
      <v-btn
        icon
        class="mr-1"
        href="https://gitlab.com/vomlando"
        target="_blank"
        title="Gitlab"
        rel="noreferrer"
      >
        <v-icon>{{ mdiGitlab }}</v-icon>
      </v-btn>
      <v-btn v-if="$auth.loggedIn" link nuxt text outlined to="/account">
        Account
      </v-btn>
      <v-btn v-else link nuxt text outlined to="/login">
        Anmelden
      </v-btn>
    </v-layout>
  </div>
</template>
<script>
import { mdiFacebook, mdiInstagram, mdiGitlab } from '@mdi/js'
import Searchbar from '../components/base/Searchbar'

export default {
  components: {
    Searchbar,
  },
  data: () => ({
    mdiFacebook,
    mdiInstagram,
    mdiGitlab,
  }),
  head() {
    return {
      title: 'Startseite',
    }
  },
}
</script>
<style lang="scss" scoped>
.index {
  width: 100%;
  max-width: 600px;
}
</style>
