<template>
  <v-card class="full-height">
    <client-only>
      <div class="d-flex fill-height content">
        <div class="inset-shadow">
          <Map :bounds="getBounds()" @update:bounds="boundsUpdated">
            <v-marker-cluster
              v-if="producer"
              ref="markercluster"
              :options="{ showCoverageOnHover: false }"
              @ready="addMarkers"
            />
          </Map>
        </div>
        <div class="producer pa-2">
          <div class="sticky mb-2">
            <Searchbar :value="searchValue" />
          </div>
          <v-slide-y-transition group>
            <v-list-item
              v-for="{ uri, name } in producerList"
              :key="uri"
              link
              :to="'/hersteller/' + uri"
            >
              <v-list-item-content>
                <v-list-item-title>{{ name }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-slide-y-transition>
          <v-btn
            v-if="producerList.length < producer.length"
            v-intersect="
              ([{ isIntersecting }]) => {
                if (isIntersecting) {
                  limit += 50
                }
              }
            "
            block
            color="primary"
            class="mt-2"
            @click="limit += 50"
          >
            Mehr anzeigen ({{ producer.length - producerList.length }})
          </v-btn>
        </div>
      </div>
    </client-only>
  </v-card>
</template>

<script>
import { mdiAccountCircle } from '@mdi/js'

import Searchbar from '~/components/base/Searchbar.vue'
import Map from '~/components/map/Map.vue'

import 'leaflet.markercluster/dist/MarkerCluster.css'
import 'leaflet.markercluster/dist/MarkerCluster.Default.css'

const defaultBounds = [
  [47.270111, 5.866315],
  [55.099159, 15.041932],
]

export default {
  components: {
    Searchbar,
    Map,
  },
  // Initial SSR API Call
  async asyncData({ params: { search }, $axios, redirect }) {
    try {
      const { data } = await $axios.get('/producers/' + (search || ''))
      return {
        search,
        producer: data,
      }
    } catch (e) {
      redirect('/karte')
    }
  },
  data: () => ({ mdiAccountCircle, bounds: null, limit: 50 }),
  computed: {
    // Decode Value from url - Placeholder
    searchValue() {
      return this.search ? decodeURI(this.search) : null
    },
    // Sort ProducerList By Distance
    producerList() {
      try {
        const bounds = this.bounds || defaultBounds
        const lBounds = this.$L.latLngBounds(bounds)
        const center = lBounds.getCenter()
        return (this.producer || [])
          .map(({ location, ...p }) => ({
            ...p,
            distance: Math.round(center.distanceTo(location) / 1000),
          }))
          .sort((a, b) => a.distance - b.distance)
          .slice(0, this.limit)
      } catch (e) {
        return this.producer.slice(0, this.limit)
      }
    },
  },
  // Trigger MarkerCluster to redraw if new Producers
  watch: {
    producer(val) {
      this.addMarkers()
    },
  },
  // Listen to route to update bounds and categories
  async beforeRouteUpdate({ params: { search }, query: { ne, sw } }, _, next) {
    next()
    try {
      if (search !== this.search) {
        const { data } = await this.$axios.get('/producers/' + (search || ''))
        this.search = search
        this.producer = data
      } else {
        this.bounds = [ne.split(','), sw.split(',')]
      }
      this.limit = 50
    } catch (e) {
      this.$store.commit(
        'notification/error',
        'Wir haben leider keine Hersteller gefunden..'
      )
      this.$router.replace('/karte')
    }
  },
  methods: {
    // Manages MarkerCluster
    addMarkers() {
      try {
        const markerCluster = this.$refs.markercluster.mapObject
        markerCluster.clearLayers()
        markerCluster.addLayers(
          this.producer.map(({ location, name }) => this.$L.marker(location), {
            title: name,
          }),
          {
            chunkedLoading: true,
          }
        )
      } catch (e) {
        this.$router.push('/karte')
      }
    },
    // Round method for bounds
    round(value, digits = 10000) {
      return Math.round(value * digits) / digits
    },
    // Push Bounds to history query
    boundsUpdated({ _northEast, _southWest }) {
      const newBounds = {
        ne: [this.round(_northEast.lat), this.round(_northEast.lng)].join(','),
        sw: [this.round(_southWest.lat), this.round(_southWest.lng)].join(','),
      }
      if (
        newBounds.ne !== this.$route.query.ne ||
        newBounds.sw !== this.$route.query.sw
      ) {
        this.$router.replace({
          query: newBounds,
        })
      }
    },
    // Get Bounds from History
    getBounds() {
      try {
        const { ne, sw } = this.$route.query
        return [ne.split(','), sw.split(',')]
      } catch (e) {
        return null
      }
    },
  },
  head() {
    return {
      title: this.search,
    }
  },
}
</script>
<style lang="scss" scoped>
.inset-shadow {
  position: relative;
  &::after {
    content: '';
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.3);
    @media (max-width: 960px) {
      box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.3);
    }
    position: absolute;
    z-index: 1;
  }
}
.content > div {
  flex: 1 1 auto;

  &.producer {
    overflow: auto;
    max-width: 33.33%;

    .sticky {
      position: sticky;
      top: 0;
      z-index: 9;
    }
  }
}

@media (max-width: 960px) {
  .content {
    flex-wrap: wrap;
    > div {
      flex: 1 1 100% !important;
      max-width: 100% !important;
    }
  }
}
</style>
