<template>
  <div class="content">
    <v-card>
      <v-form v-model="form.valid" @submit.prevent="submit">
        <v-card-title>{{ register ? 'Registrieren' : 'Login' }}</v-card-title>
        <v-card-text>
          <v-text-field
            v-model="form.mail"
            :rules="form.mailRules"
            label="E-Mail"
            type="mail"
            validate-on-blur
            required
          ></v-text-field>
          <v-text-field
            v-model="form.password"
            :rules="form.passwordRules"
            label="Passwort"
            type="password"
            required
          ></v-text-field>
          <v-text-field
            v-if="register"
            v-model="form.passwordRepeat"
            :rules="passwordMatches"
            label="Passwort wiederholen"
            type="password"
            required
          ></v-text-field>
          <PasswordReset v-if="!register" />
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="primary"
            type="submit"
            block
            :disabled="!form.valid || loading"
            :loading="loading"
            >{{ register ? 'Registrieren' : 'Login' }}</v-btn
          >
        </v-card-actions>
      </v-form>
    </v-card>
    <div class="mt-3 text-center">
      <nuxt-link
        :to="register ? '/login' : '/registrieren'"
        class="grey--text text--darken-2"
      >
        {{ register ? 'Du hast bereits ein Konto?' : 'Noch Kein Konto?' }}
      </nuxt-link>
    </div>
  </div>
</template>
<script>
import { rules } from '@/components/auth/utils'
import PasswordReset from '@/components/auth/PasswordReset'

export default {
  components: {
    PasswordReset,
  },
  props: {
    register: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    loading: false,
    form: {
      valid: false,
      mail: '',
      mailRules: rules.mail,
      password: '',
      passwordRules: rules.password,
      passwordRepeat: '',
    },
  }),
  computed: {
    passwordMatches() {
      return [
        ...rules.password,
        (v) => v === this.form.password || 'Passwörter stimmen nicht überein',
      ]
    },
  },
  methods: {
    async submit() {
      this.loading = true
      const { mail, password } = this.form

      try {
        if (this.register) {
          await this.$axios.post('/auth/register', {
            mail,
            password,
          })
        }
        await this.$auth.login({
          data: {
            mail,
            password,
          },
        })

        this.$router.push('/account')
      } catch (e) {
        this.$store.commit('notification/error')
      }
      this.loading = false
    },
  },
}
</script>
<style lang="scss" scoped>
.content {
  width: 100%;
  max-width: 600px;
  align-self: center;
  a:not(:hover) {
    text-decoration: none;
  }
}
</style>
