<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" max-width="600px">
      <template v-slot:activator="{ on }">
        <div style="cursor: pointer; margin: auto;" v-on="on">
          Passwort vergessen
        </div>
      </template>
      <v-form v-model="valid" @submit.prevent="submit">
        <v-card>
          <v-card-title>Passwort zurücksetzen</v-card-title>
          <v-card-text>
            <p>
              Wenn du dein Passwort zurücksetzen willst, trage deine E-Mail
              Addresse hier ein. Wir schicken dir dann eine E-Mail mit dem neuen
              Passwort.
            </p>
            <v-text-field
              v-model="mail"
              :rules="mailRules"
              label="E-Mail"
              type="mail"
              validate-on-blur
              required
            ></v-text-field>
            <p>
              <b>Kleiner Tipp:</b>
              <br />
              Damit dir sowas in Zukunft nicht mehr passiert, ist es sinnvoll
              einen <b>Passwort Manager</b> zu verwenden. Dieser sorgt nicht nur
              dafür, dass du deine Passwörter nicht mehr vergisst, sondern gibt
              dir auch die Möglichkeit maximal sichere Passwörter zu verwenden
              ;)
            </p>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="primary" type="submit" :disabled="!valid"
              >Zurücksetzen</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </v-layout>
</template>
<script>
import { rules } from '@/components/auth/utils'

export default {
  data: () => ({
    dialog: false,
    valid: false,
    mail: '',
    mailRules: rules.mail,
  }),
  methods: {
    async submit() {
      await this.$axios
        .post('/auth/reset', {
          mail: this.mail,
        })
        .catch(() => this.$store.commit('notification/error'))
      this.dialog = false
    },
  },
}
</script>
